:root{
  background-color: #282828;
  color: aliceblue;
  font-family:cursive;
  
}

body {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

nav {
  display: flex;
  border-radius: .5rem ;
  padding-left: 1rem;
  padding-right: 1rem;
  outline: .4rem solid rgb(255, 34, 0);
  font-size: 2rem;
  align-content: center;
}

#card-container {
  display: flex;       /* Enable Flexbox */
  flex-direction: column;
  justify-content: center; /* Center horizontally */
  align-items: center;
}

.card-container-content {
  display: flex;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  border-radius: .5rem;
  height: 70vh;
  width: 50vw;
  outline: .5rem dotted limegreen;
  font-size: 2rem;
}

.hidden {
  display: none !important;
}

p {
  display: flex;
  justify-content: center;
  margin: .1rem;
}

footer {
  background-color: rgb(11, 67, 67);
  margin: 0;
}

#contactus {
  color: lightsalmon;
  font-size:1.2rem;
}

button {
  padding: 1rem;
  margin: .5rem;
  border-radius: 1rem;
  outline: .1em solid white;
  color: crimson;
  background-color: mediumaquamarine;
  font-size: 1.3rem;
  cursor: grab;
}

button:hover {
  font-weight: bolder;
}

button:active {
  background-color: rgb(58, 117, 97);
}

#brandname {
  align-items: center;
}

.title-heading {
  font-size: 3rem;
}

#home {
  display: flex;
  flex-direction: column;
  text-align: center;
}